sudo: required
language: node_js
node_js:
  - node
services:
  - docker
cache:
  directories:
    - "$HOME/google-cloud-sdk/"
after_success:
  - if [ ! -d "$HOME/google-cloud-sdk/bin" ]; then rm -rf $HOME/google-cloud-sdk; curl https://sdk.cloud.google.com | bash > /dev/null; fi
  - source /home/travis/google-cloud-sdk/path.bash.inc
  - bin/gcloud-setup
  - bin/docker-build
  - bin/gcloud-docker-push
  - bin/kubernetes-deploy
  - bin/heroku-docker-push
  - bin/heroku-deploy
